.app-container {
  display: flex;
  justify-content: center;
}
.app {
  width: 500px;
  max-width: 800px;
}
.todo-list {
  width: 100%;
}
.todo-list div:nth-child(even) {
  background: #bbe1fa;
  color: #3282b8;
}
.todo-list div:nth-child(odd) {
  background: #3282b8;
  color: #bbe1fa;
}

.cross {
  text-decoration: line-through red;
  /* color: #1b262c; */
}